body{
    background-color: hsl(212, 45%, 89%);
}
.box1{
    background-color: black;
    size: 100px;
}


img{
    max-width: 300px;
    max-height: 300px;
    position:relative;
    left: 550px;
    top:150px;
    border-radius: 10px;
 }

.font{
    color:hsl(218, 44%, 22%);
    position:relative;
    left: 578px;
    top:140px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.font1{
   color: hsl(220, 15%, 55%);
   position:relative;
   left:578px;
   top:130px;
   font-family: 'Outfit', sans-serif;
   font-weight: 400;
   font-size: 15px;
}
.div{
    box-sizing: border-box;
    position: absolute;
    width: 335px;
    height: 510px;
    left: 540px;
    bottom:113px;
    background: hsl(0, 0%, 100%);
    z-index: -1;
    border-radius: 20px;


}
.center{
    position: relative;
    left:70px
}


.info{
    position:absolute;
    top:150px;
    left:-50px
}
a{
    text-decoration: none;
    color:hsl(218, 44%, 22%);
}
a:hover{
    color:hsl(220, 15%, 55%);
    
}
a:hover {
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    -webkit-font-smoothing: antialiased; 
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
